/*  your css code here. If applicable */
.grid-container{
    display:grid;
    grid-template-columns:107px 107px 107px;
}

.grid-item{
    background-color:#f2f2f2;
    border:1px solid #ccc;
    text-align:center;
}