/*  your css code here. If applicable */
.grid-container{
	display:grid;
	grid-template-columns:250px 250px 250px;
}
.grid-item{
	background-color:#f2f2f2;
	border:1px solid #ccc;
	text-align:center;
}