/*  your css code here. If applicable */
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; /* Add spacing between grid items */
    width: 60%; /* Set a specific width */
    margin: auto; /* Center the container */
}


.grid-item{
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    text-align: center;
}